run = "bash run_replit.sh"
entrypoint = "run_replit.sh"
modules = ["nodejs-20", "python-3.10:v18-20230807-322e88b"]
hidden = [".pythonlibs"]

[nix]
channel = "stable-24_05"

[env]
PYTHONPATH = "${PYTHONPATH}:${REPL_HOME}"
DJANGO_SETTINGS_MODULE = "whiteboard_project.settings"

[unitTest]
language = "python3"

[deployment]
run = ["sh", "-c", "daphne -b 0.0.0.0 -p 8000 whiteboard_project.asgi:application"]
deploymentTarget = "gce"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 8000
externalPort = 80

[[ports]]
localPort = 8001
externalPort = 8001

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081

[[ports]]
localPort = 8082
externalPort = 3001

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 39823191

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./run_replit.sh"


