run = ["python", "manage.py", "runserver", "0.0.0.0:8080"]
entrypoint = "manage.py"
modules = ["python-3.10:v18-20230807-322e88b"]
hidden = [".pythonlibs"]

[nix]
channel = "stable-24_05"

[env]
PYTHONPATH = "${PYTHONPATH}:${REPL_HOME}"
DJANGO_SETTINGS_MODULE = "whiteboard_project.settings"

[unitTest]
language = "python3"

[deployment]
run = ["sh", "-c", "daphne -b 0.0.0.0 -p 8000 whiteboard_project.asgi:application"]
deploymentTarget = "gce"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 8000
externalPort = 8000
exposeLocalhost = true

[[ports]]
localPort = 8001
externalPort = 8001
exposeLocalhost = true

[[ports]]
localPort = 8080
externalPort = 80

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 39823191

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "daphne -b 0.0.0.0 -p 8001 whiteboard_project.asgi:application"


