{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whiteboard App</title>

    {% if debug %}
    <!-- W trybie deweloperskim, przekieruj do serwera Vue -->
    <meta http-equiv="refresh" content="0;url=http://localhost:8080">
    {% else %}
    <!-- W trybie produkcyjnym, załaduj zbudowane pliki Vue.js -->
    <link rel="icon" href="{% static 'vue/favicon.ico' %}">

    <!-- CSS files -->
    {% for css in vue_css_files %}
    <link href="{% static 'vue/'|add:css %}" rel="stylesheet">
    {% endfor %}
    {% endif %}
</head>
<body>
    {% if debug %}
    <p>Przekierowywanie do serwera deweloperskiego Vue.js...</p>
    {% else %}
    <div id="app"></div>

    <!-- JavaScript files -->
    {% for js in vue_js_files %}
    <script src="{% static 'vue/'|add:js %}" {% if 'chunk-vendors' in js %}type="module"{% endif %}></script>
    {% endfor %}
    {% endif %}
</body>
</html>